* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(270deg, #3ff685, #2d2c2d); */
}

.container {
  margin-top: 20px;
  background: linear-gradient(270deg, #3ff685, #2d2c2d);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 20px;
}

#registration-form {
  background-color: #f7f7f7;
  /* Light gray background for the form */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 960px;
  left: 300px;
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #00cc44;
  /* Green background for the "Register" button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

/* Style section heading */
.section-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container h1 {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

table,
th,
td {
  border: 1px solid white;
  color: white;
}

td {
  width: 300px;
  height: 30px;
}

#entriesTable {
  margin: 10px;
  margin-right: 10%;
  margin-left: 10%;

}