body {
  font-family: Arial, Helvetica, sans-serif;
}


.images{
  display: flex;
  animation-duration: 20s;
  animation-name:mesimages ;
  animation-iteration-count:infinite ;
}
#carra{
  width: 100%;
  overflow: hidden;

}
@keyframes mesimages{
  0% {
      transform: translateX(O);
  }
  25%{
      transform: translateX(-640px);
  }
  50%{
      transform: translateX(-1280px);
  }
  75%{
      transform: translateX(-1920px);
  }
  100%{
      transform: translateX(0);
  }
}
.about-intro {
  position: absolute;
  left: 40%;
  top: 15%;
  font-size: 100px;
  color: white;
  font-weight: bold;
}

.about-container {
  display: flex;
  width: 1500px;
  height: 700px;
  background-color: white;
  margin-left: 300px;
}

.about-text {
  width: 900px;
}

.text1{
  color: #78A009;
  margin-left: 100px;
}

.about-p {
  color: #747474;
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.about-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.picture {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.choose-us {
  display: flex;
  width: 100%;
  margin-top: 80px;
  
}

.work-pic {
  position: relative;
  height: 700px;
  width: 900px;
  left: 0;
}

.work-pic2 {
  position: absolute;
  left: 10%;
  bottom: -116%;
}

.choose-text {
  width: 500px;
  align-items: center;
  margin-left: 250px;
  color: #747474;
  font-style: italic;
  font-size: 22px;
}

.choose-title {
  color: #78A009;
}

.values-container {
  display: flex;
}

.values{
  display: flex;
  margin: 0;
}

.value-pic {
  height: 50px;
}

.board {
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  margin-bottom: 0;
  color: #78A009;
  font-weight: bold;
}

.founders {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.founders1 {
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
}

.founder-pic {
  height: 500px;
  width: 500px;
  border-radius: 250px;
}

.founder-name {
  color: #78A009;
  font-weight: bolder;
  margin-left: 100px;
}

.founder-title{
  color: #747474;
  margin-left: 100px;
  font-weight: bold;
}

.logo {
  position: absolute;
  right: 35%;
  height: 120px;
}