/*Homepage view*/
.container1{
    height: 600px;
    width: 100%;
    background-image: url(./images/image8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    transition: 2s;
    
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

@keyframes animate{

    0%{
        background-image: url(./images/image8.jpg);
    }

    20%{
        background-image: url(./images/image13.jpg);
    }

    40%{
        background-image: url(./images/image12.jpg);
    }

    60%{
        background-image: url(./images/image8.jpg);
    }

    80%{
        background-image: url(./images/image13.jpg);
    }

    100%{
        background-image: url(./images/image12.jpg);
    }
}

.container2{
    height: 600px;
    width: 100%;
    background-image: url(./images/image13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    background-color: grey;
}

.container3{
    height: 600px;
    width: 100%;
    background-image: url(./images/image12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    background-color: grey;
}

.texts{
    text-align: center;
    padding: 200px;
    
}

.text-above{
 font-size: 4rem;
 color: white;
 font-weight: bolder;
 margin-bottom: 70px;
 margin-top: 30px;
}

.text-below{
    font-size: 1.5rem;
    color: white;
    background: rgba(65, 66, 65, 0.7)
}